.button {
    border: none;
    border-radius: 5px;
    box-shadow: 3px 2px 1px #30584D;
    width: max-content;
    margin: 15px 0px;
    padding: 10px 40px;
    font-size: 15px;
    cursor: pointer;
    align-items: start;

    &:hover {
        background-color: #30584D;
        color: white;
    }

    &:active {
        box-shadow: 2px 1px 1px #30584D;
    }
}