.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 20px;
}
  
.header-top {
  background-color: #30584D;
}

.header-top-content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 auto;
}

.header-top_child {
  display: flex;
  gap: 20px;
}

.header-top_child-info {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  font-size: 13px;

  &:first-child {
    border-right: 1px solid white;
    padding-right: 15px;
  }
}

.header-top-icons {
  & > * {
      display: block;
      height: 15px;
      width: 15px;
      fill: white;
  }
}