.swiper {
    height: 300px;
    border-radius: 10px;
}

.swiper-slide {
    height: 100px;
    background-color: gray;
    text-align: center;
    color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #42665C;
}

.slider-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}